{% extends 'adminestration/base.html' %} {% load static %} {% block head %}
<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .example::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  button {
    outline: none;
    border: none;
  }
</style>
{% endblock head %} {% block content %}

<div class="container">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="shop__product__option__left">
      <button id="open-modal" class="primary-btn" style="margin:10px;">Add Slider</button>
    </div>
  </div>
  <div class="card" style="border-radius: 10px">
    <div class="card-body">
      {% if messages %} {% for message in messages %}
      <div class="alert">{{message}}</div>
      {% endfor %} {% endif %}
      {% if crousel %}
      <!-- Hero Section Begin -->
      <section class="hero">
        <div class="hero__slider owl-carousel">
          {% for c in crousel %}
          <div class="hero__items set-bg" data-setbg="/media/{{c.image}}" style="background-size: contain !important;">
            <div class="container">
              <div class="row">
                <div class="col-xl-5 col-lg-7 col-md-8">
                  <div class="hero__text">
                    <h2>{{c.name}}</h2>
                    <p>{{c.description}}</p>
                    <a href="{{c.link}}" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                    <div class="hero__social">
                      <a href="/admin/crousel/edit/{{c.c_id}}" class=""><i class="fa fa-edit"></i></a>
                      <a href="/admin/crousel/delete/{{c.c_id}}" class=""><i class="fa fa-trash"></i></a>
                      {% comment %} <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-pinterest"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a> {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
      <!-- Hero Section End -->
      {% else %}
      <h3 style="text-align: center">No Slider found</h3>
      {% endif %}
    </div>
  </div>
</div>



<div id="popupModal" class="modal fade">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content p-1">
      <header class="">
        <h4 style="float:left; padding:3px; padding-left:10px;"><b>Add category</b></h4>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" style="float: right;
            border: none;"><i class="fa fa-close"></i></button>
      </header>
      <div class="modal-body">
        <form action="#" class="signin-form" action="/admin/crousel/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group mb-3">
            {% if messages %}
            {% for message in messages %}
            <div class="alert">
              {{message}}
            </div>
            {% endfor %}
            {% endif %}
            <p>{{msg}}</p>
          </div>
          <div class="checkout__input">
            <p class="label" for="title">Title : <span>*</span></p>
            <br>
            <input type="text" class="form-control" placeholder="Title" required name="title" />
          </div>
          <div class="checkout__input">
            <p class="label" for="image">Image : <span>*</span></p>
            <input type="file" accept="image/*" name="image" required>
          </div>

          <div class="checkout__input">
            <p class="label" for="description">Description : <span>*</span></p>

            <textarea name="description" class="form-control" rows="5" required></textarea>

          </div>

          <div class="checkout__input">
            <p class="label" for="image">Link : <span>*</span></p>
            <input type="link" name="link" required>
          </div>

          <div class="form-group">
            <button type="submit" class="rounded submit primary-btn">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#open-modal").click(function () {
      $("#popupModal").modal("show");
    });
  });
  $(document).ready(function () {
    // Close modal on button click
    $(".btn-close").click(function () {
      $("#popupModal").modal('hide');
    });
  });
</script>

{% endblock %}