{% extends 'adminestration/base.html' %} {% load static %} 
{% block head %} 
<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .example::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  button{
    outline : none;
    border : none;
  }
</style>
{% endblock head %} 

{% block content %}

<div class="container" >

<div class="card"style="border-radius:10px;">
    <div class="card-body">
          <div class="shop__product__option">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="shop__product__option__left">
                  <p>
                    Page {{ wc.number }} of {{ wc.paginator.num_pages}}.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="shop__product__option__center">
                  <div class="checkout__input">

                  <form action="/admin/warranty_claim">
                    <input type="text" name="search" placeholder="Search...">
                  </form>
                </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="shop__product__option__right">
                  <p>Sort by Status:</p>
                  <select onchange="location = this.value">
                    <option {% if authenticate == 'None' %}selected{% endif %}>Sort</option>
                    <option value="/admin/warranty_claim/?authenticate=Processing{% if sarch != 'None' %}&search={{search}}{% endif %}" {% if authenticate == 'Processing' %}selected{% endif %}>Progress</option>
                    <option value="/admin/warranty_claim/?authenticate=Approved{% if sarch != 'None' %}&search={{search}}{% endif %}" {% if authenticate == 'Approved' %}selected{% endif %}>Approved</option>
                    <option value="/admin/warranty_claim?authenticate=Rejected{% if sarch != 'None' %}&search={{search}}{% endif %}" {% if authenticate == 'Rejected' %}selected{% endif %}>Rejected</option>
                </select>
                </div>
              </div>
            </div>
          </div>
      {% if messages %}
      {% for message in messages %}
        <div class="alert" >
            {{message}}
        </div>
      {% endfor %}
    {% endif %}
    {% if user %}
    <div class="u-table-res" style="overflow-x: scroll;">
        <table class="table mb-0 example">
            <thead>
                <tr>
                    <th>Claim Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Registration No.</th>
                    <th>Product Batch No.</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {% if request.user.is_staff %}
                    {% for c in wc %}
                    <tr>
                        <td class="product__cart__item">
                            <a href="/admin/warranty_claim/details/{{c.claim_id}}">
                                <h5>{{c.claim_id}}</h5>
                            </a>
                        </td>
                            
                        <td>
                          <a href="/admin/warranty_claim/details/{{c.claim_id}}"> 
                            <h6>{{c.name}}</h6> 
                          </a>
                        </td>
                       
                        <td>{{c.email}}</td>
                        <td class="">
                            <span>{{c.mob_number}}<span>
                        </td>
                        <td>{{c.warranty_registration}}</td>
                        <td>{{c.product_batch_no}}</td>

                        <td>
                            <select onchange="location = this.value">
                                <option value="/admin/warranty_claim/status/{{c.claim_id}}?active=Processing" {% if c.status == 'Processing' %}selected{% endif %}>In Progress</option>
                                <option value="/admin/warranty_claim/status/{{c.claim_id}}?active=Approved" {% if c.status == 'Approved' %}selected{% endif %}>Approved</option>
                                <option value="/admin/warranty_claim/status/{{c.claim_id}}?active=Rejected" {% if c.status == 'Rejected' %}selected{% endif %}>Rejected</option>
                            </select>
                        </td>
                        <td><a href="/admin/warranty_claim/delete/{{c.claim_id}}" class="primary-btn" style="">Delete</a></td>

                    </tr>
                    {% endfor %}
                
                {% endif %}
                
            </tbody>

        </table>
    </div>
    {% else %}
    <h3 style="text-align:center;">No User found</h3>
    {% endif %}
    <div class="row">
      <div class="col-lg-12">
        <div class="product__pagination">
          <span class="step-links">
            {% if wc.has_previous %} 
              {% if wc.has_previous != '1' %}
                <a href="?page={{ wc.previous_page_number }}{% if authenticate != 'None' %}&authenticate={{authenticate}}{% endif %}{% if search != 'None' %}&search={{search}}{% endif %}">&laquo; </a>
              {% endif %} 
            {% endif %}
            <span class="current-page active">{{ wc.number }}</span>
            {% if user.has_next %} 
              {% if wc.has_next != wc.paginator.num_pages %}
                <a href="?page={{ wc.next_page_number }}{% if authenticate != 'None' %}&authenticate={{authenticate}}{% endif %}{% if search != 'None' %}&search={{search}}{% endif %}">&raquo;</a>
              {% endif %} 
            {% endif %}
          </span>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>




{% endblock %}