{% extends 'main/base.html' %} {% load static %} {% block head %} {% endblock head %} {% block content %}
<style>
  .span {
    float: right;
  }
</style>
<!-- Checkout Section Begin -->
<section class="container spad" style="padding-top: 20px; padding-bottom: 20px">
  <div class="appointment-form-in">
    <div class="checkout__form">
      <div class="checkout__order">
        <h4 class="order__title">Your order</h4>
        <div class="col-lg-12 col-md-12">
          <div class="" style="padding: 5px">
            <div class="card" style="border: 1px solid #e53637; padding: 5px">
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col">{{order.address.first_name}} {{address.last_name}}</div>
                  </div>
                  <div>{{address.phone}}</div>
                  <div>{{address.address}}, {{address.local_address}}, {{address.town}}</div>
                  <div>{{address.postalcode}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card" style="background-color: transparent; padding: 10px; border: none; outline: none">
            <div class="card" style="padding: 15px">
              <div class="checkout__order__products">Product <span class="span">Total</span></div>
              <ul class="checkout__total__products list-unstyled">
                {% for c in cart_data %}
                <li>{{c.product.title}} <span class="span">&#x20b9; {{c.product.price}}</span></li>
                {% endfor %}
              </ul>
              <ul class="checkout__total__all list-unstyled">
                <li>
                  Subtotal <strike><span class="span">&#x20b9;{{total_not_price}}</span></strike>
                </li>
                <li>Price <span class="span"> &#x20b9;{{total_cart_price}}</span></li>
                <li>Tax <span class="span"> + &#x20b9;{{tax}}</span></li>
                {% if coupon %}
                <li>Discount <span class="span"> - &#x20b9;{{coupon}}</span></li>
                {% endif %}
                <li>Total <span class="span">&#x20b9;{{total_price}}</span></li>
              </ul>
            </div>
            <!-- <div class="cart__discount" style="margin-top: 15px;">
                                    <h6>Discount codes</h6>
                                    <form action="/checkout/payment/process/{{order.order_id}}" method = "POST" style="display: flex;">
                                        {% csrf_token %}
                                        <input type="text" placeholder="Coupon code" name = "code">
                                        <button type="submit" class="btn btn-primary">Apply</button>
                                    </form>
                                </div> -->
            <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
              <div class="customer-box customer-coupon">
                <h3 class="rounded-1 m-0"><i class="cp-lg cps cp-gifts"></i> Have a coupon? <a href="#have-coupon" data-bs-toggle="collapse">Click here to enter your code</a></h3>
                <div id="have-coupon" class="collapse coupon-checkout-content">
                  <div class="rounded-bottom discount-coupon">
                    <div id="coupon" class="coupon-dec tab-pane active">
                      <form method="post" action="/checkout/payment/process/{{order.order_id}}">
                        {% csrf_token %}
                        <p class="mb-2 form-text">Enter your coupon code if you have one.</p>
                        <div class="form-group mb-0">
                          <label class="get form-label" for="coupon-code">Coupon code <span class="span" class="required">*</span></label>
                          <input id="coupon-code" required="" type="text" name="code" class="mb-3 form-control" />
                          <button class="coupon-btn btn btn-secondary rounded" type="submit">Apply Coupon</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" name="payment" id="pay-btn" class="btn btn-primary" style="margin-top: 15px">Pay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Checkout Section End -->
{% endblock %} {% block script %}
<!-- Razorpay's Javascript code. -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  var options = {
    // Enter the Key ID generated from the Dashboard
    key: "{{ razorpay_merchant_key }}",

    // Amount is in currency subunits.
    // Default currency is INR. Hence,
    // 50000 refers to 50000 paise
    amount: "{{ razorpay_amount }}",
    currency: "{{ currency }}",

    // Your/store name.
    name: "{{store_name}}",

    // Pass the `id` obtained in the response of Step 1
    order_id: "{{ razorpay_order_id }}",
    callback_url: "https://furniture.swastik.ai/paymenthandler/",
  };

  // initialise razorpay with the options.
  var rzp1 = new Razorpay(options);

  // add event listener to the payment button.
  document.getElementById("pay-btn").onclick = function (e) {
    rzp1.open();
    e.preventDefault();
  };
</script>
{% endblock script %}
